@font-face {
    font-family: light;
    src: url(./Font/download);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #0A0A0B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(14px, 1vw, 16px);
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;


    .bc-img{
        .img4{
            width: 100%;
        }

        .img5{
            width: 100%;
        }

    header{
        width: 100%;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        .logo{
            display: flex;
            align-items: center;
            gap: 0.4rem;
            img{
                width: 2rem;
            }
            p{
                color: white;
                font-size: 1.6rem;
                font-weight: 100;
            }
        }

        .mid,.bottom{
            display: none;
        }
    }

    .view1{
        width: 100%;
        padding: 2rem 1rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;

        .top{
            display: flex;
            align-items: center;
            flex-direction: column;
            
            img{
                margin-top: 3rem;
                width: 7rem;
            }
        }

        .bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.3rem;
            .title{
                h1{
                    color: white;
                    font-size: 3rem;
                    text-align: center;
                    font-family: 'light';
                }
            }

            .text{
                 display: flex;
                    align-items: center;
                    justify-content: center;
                p{
                    color: white;
                    width: 70%;
                    text-align: center;
                    font-size: 1.3rem;
                }
            }

            .btn{
                button{
                    padding: 1rem 2rem;
                    border-radius: 5rem;
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    border: none;

                }
            }
        }
    }
}
}



@media (min-width: 800px) {
    main{

        .bc-img{
        background: url(Image/Image2.svg);
        background-repeat: no-repeat;
        background-size: cover;
            .img2{
                display: block;
            }

            .img4{
                animation: myanimation 0s linear forwards 1;
            }

        header{
            justify-content: space-evenly;

            .logo{
                img{
                    width: 3rem;
                }

                p{
                    font-size: 2rem;
                }
            }
            .mid,.bottom{
                display: block;
            }

            .mid{
                display: flex;
                gap: 2rem;
                color: white;
                font-size: 1.3rem;

                .docs{
                    display: flex;
                    gap: 0.3rem;
                    align-items: center;
                }
            }

            .bottom{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                span{
                    color: white;
                    display: flex;
                    gap: 0.3rem;
                    font-size: 1.3rem;
                    align-items: center;
                }
            }

            .bottom{
                button{
                    padding: 0.8rem 2rem;
                    display: flex;
                    gap: 0.5rem;
                    font-size: 1.3rem;
                    align-items: center;
                    border-radius: 0.7rem;
                    border: none;
                }
            }
        }


        .view1{
            display: flex;
            align-items: center;
            justify-content: center;
            .top{
                img{
                    margin-top: 10rem;
                    width: 8rem;
                }
            }

            .bottom{
                gap: 2rem;
                .title{
                    h1{
                        color: #0A0A0B;
                    }
                }

                .text{
                    font-weight: 100;
                    p{
                        color: #0A0A0B;
                    }
                }

                .btn{
                    button{
                        font-size: 1rem;
                        background-color: #0A0A0B;
                        color: white;
                    }
                }
            }
        }
    }
    }
}


@keyframes myanimation {
    0% {transform: translateY(0%);}
    100% {transform: translateY(-68%);}
}
