@font-face {
  font-family: light;
  src: url(./Font/download);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0A0A0B;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(14px, 1vw, 16px);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  max-width: 1900px;
}
main .img4 {
  width: 100%;
}
main .img5 {
  width: 100%;
}
main header {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
}
main header .logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
main header .logo img {
  width: 2rem;
}
main header .logo p {
  color: white;
  font-size: 1.6rem;
  font-weight: 100;
}
main header .mid,
main header .bottom {
  display: none;
}
main .view1 {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
main .view1 .top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .view1 .top img {
  margin-top: 3rem;
  width: 7rem;
}
main .view1 .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}
main .view1 .bottom .title h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-family: "light";
}
main .view1 .bottom .text {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view1 .bottom .text p {
  color: white;
  width: 70%;
  text-align: center;
  font-size: 1.3rem;
}
main .view1 .bottom .btn button {
  padding: 1rem 2rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: none;
}
main .view2 {
  background: url(Image/image5.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  padding: 0rem 1rem;
}
main .view2 .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-top: 10rem;
}
main .view2 .bottom .btn {
  display: flex;
  justify-content: center;
}
main .view2 .bottom .btn button {
  padding: 0.7rem 2rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2rem;
  color: white;
}
main .view2 .bottom .heading {
  display: flex;
  justify-content: center;
}
main .view2 .bottom .heading h1 {
  color: white;
  font-family: "light";
  width: 80%;
  text-align: center;
  font-size: 2.5rem;
}
main .view2 .bottom .text {
  display: flex;
  justify-content: center;
}
main .view2 .bottom .text p {
  color: #7b7d82;
  width: 90%;
  text-align: center;
  font-size: 1.2rem;
}
main .view2 .bottom-last {
  background: url(Image/image6.svg);
  background-size: contain;
}
main .view2 .bottom-last img {
  width: 100%;
}
main .half-sun {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}
main .half-sun .side,
main .half-sun .left-side {
  display: none;
}
main .half-sun .view3 {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main .half-sun .view3 .top {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .half-sun .view3 .top .title p {
  text-transform: uppercase;
  color: #7b7d82;
}
main .half-sun .view3 .top .heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .half-sun .view3 .top .heading h1 {
  font-family: "light";
  font-size: 1.5rem;
}
main .half-sun .view3 .top .heading p {
  color: #7b7d82;
  font-size: 1.2rem;
  width: 80%;
}
main .half-sun .view3 .top .text {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
}
main .half-sun .view3 .top .text .points1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .half-sun .view3 .top .text .points1 h1 {
  font-weight: 400;
  font-size: 1.5rem;
}
main .half-sun .view3 .top .text .points1 p {
  color: #7b7d82;
}
main .half-sun .view3 .top .text .points2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .half-sun .view3 .top .text .points2 h1 {
  font-weight: 400;
  font-size: 1.5rem;
}
main .half-sun .view3 .top .text .points2 p {
  color: #7b7d82;
}
main .half-sun .view3 .top .text .points3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .half-sun .view3 .top .text .points3 h1 {
  font-weight: 400;
  font-size: 1.5rem;
}
main .half-sun .view3 .top .text .points3 p {
  color: #7b7d82;
}
main .half-sun .view3 .top .text .points4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .half-sun .view3 .top .text .points4 h1 {
  font-weight: 400;
  font-size: 1.5rem;
}
main .half-sun .view3 .top .text .points4 p {
  color: #7b7d82;
}
main .half-sun .view3 .top .text .point5 p {
  font-size: 1.3rem;
}
main .half-sun .view3 .bottom img {
  width: 100%;
}
main .half-sun .view3 .card2 {
  width: 100%;
}
main .half-sun .view3 .card2 .tops .titles {
  display: flex;
  width: 100%;
}
main .half-sun .view3 .card2 .tops .titles p {
  text-transform: uppercase;
  width: 1.3rem;
  color: #7b7d82;
}
main .half-sun .view3 .card2 .tops .headings h1 {
  font-size: 2rem;
  font-family: "light";
}
main .half-sun .view3 .card2 .bottom img {
  width: 100%;
}
main .half-sun .view4 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
main .half-sun .view4 .top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .half-sun .view4 .top .title p {
  text-transform: uppercase;
  color: #7b7d82;
}
main .half-sun .view4 .top .heading {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .half-sun .view4 .top .heading h1 {
  font-size: 1.5rem;
  color: white;
  font-family: "light";
}
main .half-sun .view4 .top .heading p {
  color: #7b7d82;
  font-size: 1.2rem;
}
main .half-sun .view4 .bottom img {
  width: 100%;
}
main .half-sun .view5 {
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .half-sun .view5 .top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .half-sun .view5 .top .title p {
  text-transform: uppercase;
  color: #7b7d82;
}
main .half-sun .view5 .top .heading {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .half-sun .view5 .top .heading h1 {
  font-family: "light";
}
main .half-sun .view5 .top .heading p {
  font-size: 1.2rem;
  color: #7b7d82;
}
main .half-sun .view5 .bottom img {
  width: 100%;
}
main .view6 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}
main .view6 .title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
main .view6 .title .headline {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #7b7d82;
}
main .view6 .title .mainname h1 {
  font-family: "light";
}
main .view6 .middle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view6 .middle .block1,
main .view6 .middle .block2 {
  background-color: #0E0F10;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 1px solid #303031;
}
main .view6 .middle .block1 .title p,
main .view6 .middle .block2 .title p {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #7b7d82;
}
main .view6 .middle .block1 .title h1,
main .view6 .middle .block2 .title h1 {
  font-size: 1.5rem;
}
main .view6 .middle .block1 .bottom img,
main .view6 .middle .block2 .bottom img {
  width: 100%;
}
main .view6 .middle .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view6 .middle .bottom .top {
  display: flex;
  flex-direction: column;
  background-color: #0E0F10;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 1px solid #303031;
  gap: 1rem;
}
main .view6 .middle .bottom .top p {
  text-transform: uppercase;
  font-size: 1rem;
  color: #7b7d82;
}
main .view6 .middle .bottom .top h1 {
  font-size: 1.5rem;
}
main .view6 .middle .bottom .bottom {
  display: flex;
  flex-direction: column;
  background-color: #0E0F10;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 1px solid #303031;
  gap: 1rem;
}
main .view6 .middle .bottom .bottom .btitle {
  text-transform: uppercase;
  font-size: 1rem;
  color: #7b7d82;
}
main .view6 .middle .bottom .bottom .list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
main .view7 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  gap: 2rem;
}
main .view7 .top {
  display: flex;
  justify-content: center;
}
main .view7 .top img {
  width: 7rem;
  margin-top: 5rem;
}
main .view7 .middle {
  color: white;
  text-align: center;
}
main .view7 .middle h1 {
  font-family: "light";
}
main .view7 .bottom {
  display: flex;
  justify-content: center;
}
main .view7 .bottom button {
  padding: 1rem 2rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: none;
  background-color: #303031;
  color: white;
}
main .footer {
  padding: 3rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .footer .top {
  display: flex;
  flex-direction: column;
}
main .footer .top .title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .footer .top .title img {
  width: 3rem;
}
main .footer .top .title p {
  font-size: 2rem;
  font-weight: 100;
  color: rgb(208, 208, 208);
}
main .footer .top .logos {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
main .footer .top .logos p {
  font-size: 2rem;
  color: rgb(208, 208, 208);
}
main .footer .menus {
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem;
  gap: 2rem;
}
main .footer .menus .part1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(208, 208, 208);
}
main .footer .menus .part1 .mainname {
  text-transform: uppercase;
  font-size: 1rem;
  color: #7b7d82;
}
main .footer .menus .part2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(208, 208, 208);
}
main .footer .menus .part2 .mainname {
  text-transform: uppercase;
  font-size: 1rem;
  color: #7b7d82;
}
main .footer .menus .part3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .footer .menus .part3 .mainname {
  text-transform: uppercase;
  font-size: 1rem;
  color: #7b7d82;
}
main .finalpart {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
main .finalpart .line hr {
  margin: 1rem;
  padding: 0%;
  text-align: left;
}
main .finalpart .copyrights {
  text-align: center;
  color: #7b7d82;
}

@media (min-width: 850px) {
  main .bg-img {
    background: url(Image/Image2.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center top -150px;
    animation: mysun 0s linear forwards 1;
    background-size: contain;
  }
  main .img2 {
    display: block;
  }
  main .img4 {
    position: absolute;
    animation: myanimation 0s linear forwards 1;
    max-width: 1900px;
  }
  main header {
    justify-content: space-evenly;
  }
  main header .logo img {
    width: 3rem;
  }
  main header .logo p {
    font-size: 2rem;
  }
  main header .mid,
  main header .bottom {
    display: block;
  }
  main header .mid {
    display: flex;
    gap: 2rem;
    color: white;
    font-size: 1.3rem;
    text-align: center;
  }
  main header .mid .docs {
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }
  main header .bottom {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  main header .bottom span {
    color: white;
    display: flex;
    gap: 0.3rem;
    font-size: 1.3rem;
    align-items: center;
  }
  main header .bottom button {
    padding: 0.8rem 2rem;
    display: flex;
    gap: 0.5rem;
    font-size: 1.3rem;
    align-items: center;
    border-radius: 0.7rem;
    border: none;
  }
  main .view1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .view1 .top img {
    margin-top: 12rem;
    width: 8rem;
  }
  main .view1 .bottom {
    gap: 2rem;
  }
  main .view1 .bottom .title h1 {
    color: #0A0A0B;
    font-size: 5rem;
  }
  main .view1 .bottom .text {
    font-weight: 200;
  }
  main .view1 .bottom .text p {
    color: #0A0A0B;
    font-size: 2rem;
  }
  main .view1 .bottom .btn button {
    padding: 1.5rem 3rem;
    font-size: 1.3rem;
    background-color: #0A0A0B;
    color: white;
  }
  main .view2 {
    background-size: contain;
    background-position-y: top;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .view2 .bottom-last {
    width: 65%;
  }
  main .half-sun .side {
    display: block;
    overflow: hidden;
  }
  main .half-sun .side img {
    position: absolute;
    width: 100%;
    right: -70%;
    transform: translateY(-50%);
  }
  main .half-sun .left-side {
    display: block;
    overflow: hidden;
  }
  main .half-sun .left-side img {
    position: absolute;
    width: 100%;
    transform: translateY(-45%);
    left: -70%;
  }
  main .half-sun .view3,
  main .half-sun .view4,
  main .half-sun .view5 {
    flex-direction: row;
    padding: 2rem;
    margin: 0rem 8rem;
  }
  main .half-sun .view3 .top,
  main .half-sun .view3 .bottom,
  main .half-sun .view4 .top,
  main .half-sun .view4 .bottom,
  main .half-sun .view5 .top,
  main .half-sun .view5 .bottom {
    width: 50%;
  }
  main .half-sun .view3 .top .title p,
  main .half-sun .view4 .top .title p,
  main .half-sun .view5 .top .title p {
    font-size: 1.5rem;
  }
  main .half-sun .view3 .top .heading h1,
  main .half-sun .view4 .top .heading h1,
  main .half-sun .view5 .top .heading h1 {
    font-size: 5rem;
  }
  main .half-sun .view3 .top .heading p,
  main .half-sun .view4 .top .heading p,
  main .half-sun .view5 .top .heading p {
    font-size: 1.5rem;
  }
  main .half-sun .view4 {
    flex-direction: row-reverse;
  }
  main .half-sun .view4 .top {
    justify-content: center;
  }
  main .half-sun .view5 .top {
    justify-content: center;
  }
  main .view6 {
    margin: 0rem 8rem;
  }
  main .view6 .title h1 {
    font-size: 3rem;
    font-family: "light";
  }
  main .view6 .middle {
    flex-direction: row;
    gap: 1.5rem;
  }
  main .view6 .middle .block1, main .view6 .middle .block2 {
    padding: 2rem;
  }
  main .view6 .middle .block1 .title h1, main .view6 .middle .block2 .title h1 {
    font-size: 2rem;
  }
  main .view6 .middle .bottom {
    gap: 1.5rem;
    justify-content: space-between;
  }
  main .view6 .middle .bottom .top {
    padding: 2rem;
    height: 50%;
  }
  main .view6 .middle .bottom .top h1 {
    font-size: 2rem;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  main .view6 .middle .bottom .bottom {
    padding: 2rem;
    height: 50%;
  }
  main .view6 .middle .bottom .bottom .list {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  main .view6 .middle .bottom .bottom .list p {
    font-size: 1.5rem;
  }
  main .view7 {
    background: url(Image/image14.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-size: 10%;
    animation: mysun 0s linear forwards 1;
    padding: 13rem 8rem;
  }
  main .view7 .top img {
    width: 10rem;
  }
  main .view7 .middle h1 {
    font-size: 4rem;
    color: #0A0A0B;
  }
  main .view7 .bottom button {
    padding: 1.5rem 2.5rem;
    font-size: 1rem;
    background-color: #0A0A0B;
  }
  main .footer {
    padding: 5rem 8rem;
    font-size: 1.3rem;
    flex-direction: row;
    justify-content: space-between;
  }
  main .footer .top {
    padding: 3rem 1rem;
  }
  main .footer .menus {
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
  }
  main .footer .menus .mainname {
    font-size: 1.3rem;
  }
}
@keyframes myanimation {
  0% {
    top: 100%;
  }
  25% {
    top: 70%;
  }
  50% {
    top: 30%;
  }
  100% {
    top: 15%;
  }
}
@keyframes mysun {
  0% {
    background-size: 10%;
  }
  25% {
    background-size: 30%;
  }
  50% {
    background-size: 50%;
  }
  75% {
    background-size: 80%;
  }
  100% {
    background-size: 105%;
  }
}/*# sourceMappingURL=style.css.map */